.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  width: 60px;
  pointer-events: none;
  padding-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: lightskyblue;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
}

.counter{
  text-align: right;
  padding-top: 5px;
}

html{
  background-color: lightgoldenrodyellow;
}
